body {
    background-color: #d5f8c6;
    font-family: 'Skranji', cursive;
} 

.jumbotron {
    background-color: #fcac45 ;
    text-align: center;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    margin: 10px;
    background-color: #FFF8DC;
    text-align: center;
}

.game-container {
    margin: auto;
    max-width: 900px;
    height: auto;
    background-color: #d5f8c6;
}


.game {
    padding: 57px;
}
span, p {
    align-items: center;
}

.col-md-4, .col-md-7 {
    margin: 10px;
}

h1 {
    font-family: 'Flavors', cursive;
    margin: auto;
    align-content: center;
}

.word {
    letter-spacing: 5px;
}

.btn {
    background-color: #66CDAA;
    margin-top: 200px;
    border: none;
}

span {
    padding: 10px;
}

.card-header {
    background-color: #66CDAA;
    justify-content: center;
}

.card-title {
    margin: auto;
}

.games-won {
    font-size: xx-large;
}