body {
    font-family: 'Skranji', cursive;
    background-color: #baf2bc;
    background-image: url("sunset.jpg");
    background-position: center; 
} 

.jumbotron {
    background-color: #66CDAA;
    text-align: center;
    align-content: center;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    margin: 10px;
    background-color: #FFF8DC;
    text-align: center;
    border: none;
}

.card-for-button {
    margin: 10px;
    background-color: none!important;
    text-align: center;
    border: none;
}

.game-container {
    margin: auto;
    max-width: 900px;
    height: auto;
    background-color: none;
}


.game {
    padding: 57px;
}
span, p {
    align-items: center;
}

.col-md-4, .col-md-7 {
    margin: 10px;
}

h1 {
    font-family: 'Flavors', cursive;
    margin: auto;
    align-content: center;
}

.word {
    letter-spacing: 5px;
}

.btn {
    background-color: #66CDAA;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    padding: 10px;
}

.card-header {
    background-color: #66CDAA;
    justify-content: center;
}

.card-title {
    margin: auto;
}

.games-won, .games-lost {
    font-size: xx-large;
}